/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .basic-block {
	border-radius: 16px;
	background: linear-gradient(45deg, coral, orangered);
	color: white;
	padding: 32px 20px;
	text-align: center;
}